@model frontend_csharp.Models.UserData

<h2 class="text-center">Nuevo Usuario</h2>


@await Html.PartialAsync("_FormUser", Model, new ViewDataDictionary(this.Vi‌​ewData) {{"action", "Create"}, {"button", "Guardar"}})