@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Aprende de <a href="https://docs.microsoft.com/aspnet/core">Desarrollo de Webapps con ASP.NET Core</a>.</p>
</div>
